.config-device {
  background: white;
  width: 420px;
  height: 200px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.modl,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.config-device {
  height: 33%
}

.b4-u-continue {
  height: 50px;
  width: 370px;
  font-family: Tahoma;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  top: 20px;
  left: 30px;
  border: 1px solid;
  border-color: white;
  border-bottom-color: black;
}

.text-message {
  position: relative;
  top: 30px;
  left: 30px;
  width: 400px;
}

.btns {
  position: relative;
  top: 36px;
  left: 200px;
  padding-top: 10px;
}

.overlay-btns {
  font-size: small;
  border: none;
  width: 100px;
  height: 36px;
}

#now {
  color: white;
  background-color: #4285f4;
}

#now:disabled {
  background-color: #dbdee0;
  color: #ffffff;
}

#later {
  color: #2671e9;
  background-color: white;
}



/*Config device textbox*/

#device-id {
  margin-right: 15px;
}

.device-id-setup {
  display: flex;
}

.device-id-float {
  float: left;
}

/* Loader */
#loader {
  border: 15px solid #f3f3f3;
  border-radius: 50%;
  border-top: 15px solid #3498db;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* Green Check */
*{padding:0;margin:0}.wrapper{height:30px;display:flex;justify-content:center;align-items:center;background-color:#fff}.checkmark__circle{stroke-dasharray: 166;stroke-dashoffset: 166;stroke-width: 2;stroke-miterlimit: 10;stroke: #7ac142;fill: none;animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards}.checkmark{width: 25px;height: 25px;border-radius: 50%;display: block;stroke-width: 2;stroke: #fff;stroke-miterlimit: 10;margin: 10% auto;box-shadow: inset 0px 0px 0px #7ac142;animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both}.checkmark__check{transform-origin: 50% 50%;stroke-dasharray: 48;stroke-dashoffset: 48;animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards}@keyframes stroke{100%{stroke-dashoffset: 0}}@keyframes scale{0%, 100%{transform: none}50%{transform: scale3d(1.1, 1.1, 1)}}@keyframes fill{100%{box-shadow: inset 0px 0px 0px 30px #7ac142}}