.config-device {
  background: white;
  width: 420px;
  height: 200px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.modl,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.config-device {
  height: 33%
}

.b4-u-continue {
  height: 50px;
  width: 370px;
  font-family: Tahoma;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  top: 20px;
  left: 30px;
  border: 1px solid;
  border-color: white;
  border-bottom-color: black;
}

.text-message {
  position: relative;
  top: 30px;
  left: 30px;
  width: 400px;
}

.btns {
  position: relative;
  top: 36px;
  left: 200px;
  padding-top: 10px;
}

.overlay-btns {
  font-size: small;
  border: none;
  width: 100px;
  height: 36px;
}

#now {
  color: white;
  background-color: #4285f4;
}

#later {
  color: #2671e9;
  background-color: white;
}


/*Config device textbox*/

#device-id {
  margin-right: 15px;
}

.device-id-setup {
  display: flex;
}

.device-id-float {
  float: left;
}

/* Loader */
#loader {
  border: 15px solid #f3f3f3;
  border-radius: 50%;
  border-top: 15px solid #3498db;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}